.btn {
    display: flex;
    align-items: center;
    background-color:cornflowerblue;
    color: white;
    border-radius: 3px;
    line-height: 20px;
    border: solid cornflowerblue;
}
.L {
    height: 48px;
    padding: 14px 20px;
    font-size: 16px;
    line-height: 20px;
}
.M {
    height: 36px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
}
.S {
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
}
.XS {
    height: 20px;
    padding: 0px 6px;
    font-size: 10px;
    line-height: 20px;
}
/* a tag button */
.link {
    display: flex;
    color: white;
    background-color:cornflowerblue;
    border: solid cornflowerblue;
    border-radius: 3px;
    height: 15px;
    align-items: center;
}
