body {
    font-family: Roboto;
}
main {
    display: inline-block;
}
.section {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    color: rgb(95, 95, 95);
    height: 30px;
}
.box {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.box.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box.second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box.third {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.box.fourth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name {
    text-transform: uppercase;
    color: grey;
    font-size: 20px;
    margin: 0;
}

